heroes.dtd

<!ELEMENT lista_heroes (heroe+)>
<!ELEMENT heroe (nombre, rol, habilidad, ultimate,  afiliacion, descripcion, tipoDuelista, tipoVanguardia, tipoEstratega, imagen)>
<!ATTLIST heroe id ID #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT rol (#PCDATA)>
<!ELEMENT habilidad (#PCDATA)>
<!ELEMENT ultimate (#PCDATA)>
<!ELEMENT afiliacion (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT tipoDuelista (#PCDATA)>
<!ELEMENT tipoVanguardia (#PCDATA)>
<!ELEMENT tipoEstratega (#PCDATA)>
<!ELEMENT imagen (#PCDATA)>